name: Renovate

on:
  push:
    branches:
      - main
  schedule:
    - cron: '15 2,14 * * *'
  workflow_dispatch: null
jobs:
  update-by-renovate:
    permissions:
      contents: write
      pull-requests: write
      issues: write
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: app-token
        uses: actions/create-github-app-token@df432ceedc7162793a195dd1713ff69aefc7379e # v2.0.6
        with:
          private-key: ${{ secrets.RENOVATE_PRIVATE_KEY }}
          app-id: ${{ secrets.RENOVATE_APP_ID }}
          owner: ${{ github.repository_owner }}
          repositories: |
            nur-packages
          permission-checks: write
          permission-contents: write
          permission-issues: write
          permission-pull-requests: write
          permission-statuses: write
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Install nix
        uses: ./.github/actions/setup-nix
        with:
          github-token: ${{ secrets.github_token }}
      - name: Renovate
        run: nix develop .#renovate --command renovate --token=${{ steps.app-token.outputs.token }} --platform=github
        env:
          LOG_LEVEL: debug
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_ALLOWED_COMMANDS: "^nix"
